<div class="container">
  <div class="key">
    {{ count | async }}
  </div>

  <div fxLayout="row wrap " fxLayoutGap="20px grid" fxLayoutAlign="center start" class="buttons">
    <div>
      <button mat-raised-button  color="accent" (click)="remove()"><</button>
    </div>
    <div>
      <button mat-raised-button  color="accent" (click)="addChar('(')">(</button>
    </div>
    <div>
      <button mat-raised-button  color="accent" (click)="addChar(')')">)</button>
    </div>
    <div>
      <button mat-raised-button  color="primary" (click)="addChar('/')">/</button>
    </div>
    <div>
      <button mat-raised-button  color="warn" (click)="addChar('7')">7</button>
    </div>
    <div>
      <button mat-raised-button  color="warn" (click)="addChar('8')">8</button>
    </div>
    <div>
      <button mat-raised-button  color="warn" (click)="addChar('9')">9</button>
    </div>
    <div>
      <button mat-raised-button  color="primary" (click)="addChar('*')">*</button>
    </div>
    <div>
      <button mat-raised-button  color="warn" (click)="addChar('4')">4</button>
    </div>
    <div>
      <button mat-raised-button  color="warn" (click)="addChar('5')">5</button>
    </div>
    <div>
      <button mat-raised-button  color="warn" (click)="addChar('6')">6</button>
    </div>
    <div>
      <button mat-raised-button  color="primary" (click)="addChar('-')">-</button>
    </div>
    <div>
      <button mat-raised-button  color="warn" (click)="addChar('1')">1</button>
    </div>
    <div>
      <button mat-raised-button  color="warn" (click)="addChar('2')">2</button>
    </div>
    <div>
      <button mat-raised-button  color="warn" (click)="addChar('3')">3</button>
    </div>
    <div>
      <button mat-raised-button  color="primary" (click)="addChar('+')">+</button>
    </div>
    <div>
      <button mat-raised-button  color="warn" (click)="addChar('0')">0</button>
    </div>
    <div>
      <button mat-raised-button  color="accent" (click)="addChar(',')">,</button>
    </div>
    <div>
      <button mat-raised-button  color="warn" (click)="result()">=</button>
    </div>
  </div>
</div>


